<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/output.css">
    <link rel="stylesheet" href="/assets/css/swalStyles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Administra los invitados</title>
</head>
<body class="bg-[var(--color-pastel-claro-medio)] text-aliceblue  overflow-x-hidden flex flex-col min-h-screen ">

 <header class=" bg-transparent text-center flex justify-between items-center p-5 shadow-black mb-10">

    <div>
        <img src="/assets/img/XV_recortado.svg" alt="" class="w-10 h-10 mx-auto ">
    </div>

    <nav>
        <ul class="flex space-x-2 ">
            <li>
                <button id="" onclick="inicio()"
                class="relative inline-block tracking-[.1em] text-[var(--color-texto-oscuro)]  bg-[var(--color-borde-suave)] font-medium text-xs uppercase no-underline px-6 py-3 rounded-full transition-all duration-200 ease-in-out cursor-pointer border-none font-inherit
                hover:-translate-y-[3px] hover:shadow-[0_10px_20px_rgba(0,0,0,0.2)]
                active:-translate-y-[1px] active:shadow-[0_5px_10px_rgba(0,0,0,0.2)]
                after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:rounded-[100px] after:bg-[var(--color-borde-suave)] after:-z-10 after:transition-all after:duration-400
                hover:after:scale-x-[1.4] hover:after:scale-y-[1.6] hover:after:opacity-0"
                >
                Inicio
                </button>
            </li>
        </ul>
    </nav>

 </header>

 <main class="p-3 flex-1">
    <section class="bg-[var(--color-contraste-crema)] p-6 rounded-lg shadow-xl  flex flex-col items-center justify-center m-auto max-w-4xl ">

        <h1 class="mb-7 font-bold text-xl text-[var(--color-texto-oscuro)] tracking-[.1em]">ADMINISTRADOR DE INVITADOS</h1>
        <div class="flex justify-end items-end w-full mt-7">
            <button id="btnAgregarInvitado" onclick="agregar_invitado()"
            class="relative inline-block text-[var(--color-texto-oscuro)]  bg-[var(--color-borde-suave)] font-medium text-xs uppercase no-underline px-6 py-3 rounded-full transition-all duration-200 ease-in-out cursor-pointer border-none font-inherit
            hover:-translate-y-[3px] hover:shadow-[0_10px_20px_rgba(0,0,0,0.2)]
            active:-translate-y-[1px] active:shadow-[0_5px_10px_rgba(0,0,0,0.2)]
            after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:rounded-[100px] after:bg-[var(--color-borde-suave)] after:-z-10 after:transition-all after:duration-400
            hover:after:scale-x-[1.4] hover:after:scale-y-[1.6] hover:after:opacity-0"
            >
            Agregar un Invitado
            </button>
        </div>
        
        <div class="mt-2 max-h-130 overflow-y-auto p-2 m-auto w-full" >
            <h2 class="text-xl mb-1 font-semibold text-[var(--color-texto-oscuro)] tracking-[.1em]">Lista de Invitados</h2>

            <table class="w-full m-auto border-collapse bg-[var(--color-contraste-crema)] shadow-md rounded-xl text-sm ">
                <thead class="bg-[var(--color-piedra-suave)] text-white border-1 rounded-2xl tracking-[.1em]">
                    <tr class="">
                        <th class="px-4 py-2 text-center border-b">Nombre</th>
                        <th class="px-4 py-2 text-center border-b">N° de Mesa</th>
                        <th class="px-4 py-2 text-center border-b">N° de Invitados</th>
                        <th class="px-4 py-2 text-center border-b">Asistencia</th>
                        <th class="px-4 py-2 text-center border-[var(--color-borde-suave)] border-b">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-center text-[var(--color-texto-oscuro)]">
                    <% invitados.forEach(inv => { %>

                        <tr id="fila-<%= inv.id %>" class="hover:bg-[var(--color-piedra-suave)] transition duration-300">

                            <td class="px-4 py-2 text-center border-[var(--color-borde-suave)] border-b"><%= inv.nombre %></td>
                            <td class="px-4 py-2 text-center border-[var(--color-borde-suave)] border-b"><%= inv.numero_mesa %></td>
                            <td class="px-4 py-2 text-center border-[var(--color-borde-suave)] border-b"><%= inv.numero_invitado %></td>
                            <td class="px-4 py-2 text-center border-[var(--color-borde-suave)] border-b"><%= inv.asistencia %></td>
                            <td class="px-4 py-2 text-center border-[var(--color-borde-suave)] border-b">
                                <button id="btn-eliminar-<%= inv.id %>" data-id="<%= inv.id %>" class="bg-[var(--color-eliminar)] text-white px-2 py-1  mb-2.5 
                                    relative inline-block text-xs uppercase no-underline  
                                    rounded-full transition-all duration-200 ease-in-out cursor-pointer border-none font-inherit font-semibold
                                    hover:-translate-y-[3px] hover:shadow-[0_10px_20px_rgba(0,0,0,0.2)]
                                    active:-translate-y-[1px] active:shadow-[0_5px_10px_rgba(0,0,0,0.2)]
                                    after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full 
                                    after:rounded-[100px] after:bg-[var(--color-borde-suave)] after:-z-10 after:transition-all after:duration-400
                                    hover:after:scale-x-[1.4] hover:after:scale-y-[1.6] hover:after:opacity-0" value="<%= inv.nombre %>">
                                    Eliminar
                                </button>
                                <button onclick="editar()" id="btn-editar-<%= inv.id %>" data-id="<%= inv.id %>"  class="bg-[var(--color-editar)] text-white px-2 py-1  mb-2.5 
                                    relative inline-block  text-xs uppercase no-underline  
                                    rounded-full transition-all duration-200 ease-in-out cursor-pointer border-none font-inherit font-semibold
                                    hover:-translate-y-[3px] hover:shadow-[0_10px_20px_rgba(0,0,0,0.2)]
                                    active:-translate-y-[1px] active:shadow-[0_5px_10px_rgba(0,0,0,0.2)]
                                    after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full 
                                    after:rounded-[100px] after:bg-[var(--color-borde-suave)] after:-z-10 after:transition-all after:duration-400
                                    hover:after:scale-x-[1.4] hover:after:scale-y-[1.6] hover:after:opacity-0" value="<%= inv.id %>">
                                    Editar
                                </button>
                                <button id="btn-compartir-<%= inv.id %>" data-id="<%= inv.id %>"  class="bg-[var(--color-editar)] text-white px-2 py-1  mb-2.5 
                                    relative inline-block text-xs uppercase no-underline  
                                    rounded-full transition-all duration-200 ease-in-out cursor-pointer border-none font-inherit font-semibold
                                    hover:-translate-y-[3px] hover:shadow-[0_10px_20px_rgba(0,0,0,0.2)]
                                    active:-translate-y-[1px] active:shadow-[0_5px_10px_rgba(0,0,0,0.2)]
                                    after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full 
                                    after:rounded-[100px] after:bg-[var(--color-borde-suave)] after:-z-10 after:transition-all after:duration-400
                                    hover:after:scale-x-[1.4] hover:after:scale-y-[1.6] hover:after:opacity-0" value="<%= inv.nombre %>">
                                    
                                    <i class="fa-brands fa-whatsapp text-2xl"></i>
                                </button>
                            </td>

                        </tr>
                    <% }) %>
                    
                </tbody>
            </table>
        </div>
    </section>
 </main>

 <footer class="p-3 bg-[var(--color-verde-claro)] text-center text-amber-50 font-semibold">
    <p>&copy; 2025 Invitación XV. Todos los derechos reservados.</p>

 </footer>
    
</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('[id^="btn-editar-"]').forEach(button => {
            button.addEventListener('click', () => {
                const id = button.dataset.id;
                window.location.href = `/editar_invitado/${id}`; // Puedes usar /editar_invitado/123 también
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('[id^="btn-compartir-"]').forEach(button => {
        button.addEventListener("click", () => {
            console.log("HOLA AMIGO");
            const nombre = button.value;
            const mensaje = `http://localhost:3000.com/${nombre}`;
            const url = `https://api.whatsapp.com/send?text=${encodeURIComponent(mensaje)}`;
            window.open(url, "_blank");
        });
        });
    });
</script>
<!--<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('[id^="btn-editar-"]').forEach(button => {
            button.addEventListener('click', () => {
                const id = button.value;

                fetch('/editar_invitado', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ id })
                })
                .then(res => res.json())
                    .then(data => {
                        if (data.success) {
                            Swal.fire('Actualizado', data.message, 'success');
                        }
                    })
                .catch(err => {
                    Swal.fire('Error', 'Hubo un problema al actualizar el invitado.', 'error');
                });
            });
        });
    });
</script>-->

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('[id^="btn-eliminar-"]').forEach(button => {
            button.addEventListener('click', () => {
                const nombre = button.value;
                const id = button.dataset.id;

                Swal.fire({
                    title:'¿Estás seguro?',
                    text: `Esto eliminará el invitado: ${nombre}. Esta acción no se puede deshacer.`,
                    icon: 'warning',
                    showCancelButton: true,
                    buttonsStyling: false,
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar',
                    customClass: {
                        popup: 'swal-showtime',
                        title: 'swal-titulo-glow',
                        confirmButton: 'swal-btn-yes',
                        cancelButton: 'swal-btn-no',
                        actions: 'swal-action-box'
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('/eliminarInvitado', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ id })
                        })
                        .then(res => res.json())
                        .then(data => {
                        if (data.success) {
                             Swal.fire({
                                title: "Eliminado",
                                text: data.message,
                                icon: "success",
                                confirmButtonText: 'Aceptar',
                                buttonsStyling: false,
                                customClass: {
                                    popup: 'swal-showtime',
                                    title: 'swal-titulo-glow',
                                    confirmButton: 'swal-btn-confirm',
                                    cancelButton: 'swal-btn-no',
                                    actions: 'swal-action-box'
                                }
                            });
                            
                            
                            // 🔥 Elimina el <tr> del DOM suavemente
                            const fila = document.getElementById(`fila-${data.idEliminado}`);
                            if (fila) {
                            fila.classList.add('opacity-0', 'transition'); // Tailwind fade-out
                            setTimeout(() => fila.remove(), 500); // Eliminar después de animación
                            }
                        }
                        })
                        .catch(err => {
                        Swal.fire('Error', 'Hubo un problema al eliminar el invitado.', 'error');
                        });

                    }
                })
            });
        });
    });
</script>

<script>
     <% if (typeof message !== "undefined") { %>
        Swal.fire({
            title: "Éxito",
            text: "<%= message %>",
            icon: "success",
            confirmButtonText: 'Aceptar',
            buttonsStyling: false,
            customClass: {
                popup: 'swal-showtime',
                title: 'swal-titulo-glow',
                confirmButton: 'swal-btn-confirm',
                cancelButton: 'swal-btn-no',
                actions: 'swal-action-box'
            }
        });
    <% } %>
</script>

<script>
    function agregar_invitado() {
    // Espera 0.5 segundos antes de redirigir
        setTimeout(() => {
            window.location.href = "/agregar_invitado";
        }, 500); // 500 ms = 0.5 segundos
    }
</script>

<script>

    function inicio() {
        setTimeout(() => {
            window.location.href = "/";
        }, 500);
    }
</script>
</html>